@media (max-width: 991px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .consultation {
        .title_left {
            font-size: 32px;
        }
        &__descr {
            font-size: 18px;
        }
        .feed-form {
            width: 250px;
            input {
                height: 40px;
            }
        }
        .button_submit {
            height: 45px;
            font-size: 14px;
        }
    }
    .carousel {
        &__inner {
            width: 600px;
        }
    }
    .catalog {
        &__tab {
            width: 200px;
            height: 40px;
            font-size: 16px;
        }
        &__content {
            justify-content: space-around;
        }
        &__item {
            width: 350px;
        }
    }
    .reviews {
        &-item {
            padding: 0 50px;
            justify-content: center;
            align-items: center;
            &__img {
                height: 100px;
                width: 100px;
            }
            &__name {
                font-size: 16px;
            }
            &__sub {
                font-size: 12px;
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
    .footer {
        height: 300px;
        &__info {
            width: 400px;
            height: 200px;
            padding: 40px 60px 50px 60px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            margin-bottom: 30px;
        }
    }
}