@media (max-width: 1200px){
    .container {
        max-width: 900px;
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__official span {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 600px;
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader {
            font-size: 22px;
            line-height: 22px;
        }
    }
    .consultation {
        min-height: 630px;
        padding: 80px 0 72px 0;
        .title {
            font-size: 30px;
        }
        &__descr {
            font-size: 18px;
        }
        label.error {
            font-size: 12px;
        }
    }
    .carousel {
        &__inner {
            width: 650px;
        }
        .slick-prev, .slick-next {
            img {
                width: 26px;
                height: 45px;
            }
        }
    }
    .catalog {
        &__tab {
            width: 200px;
            height: 40px;
            font-size: 16px;
        }
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &-item {
            &__img {
                margin-right: 50px;
                width: 150px;
                height: 150px;
            }
        }
    }
    .footer {
        &__info {
            width: 420px;
            height: 230px;
            padding: 35px 60px 50px 60px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 16px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 24px;
            }
        }
    }
}
@media (max-width: 991px){
    .container {
        max-width: 750px;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__contacts {
            align-items: center;
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        min-height: 500px;
        &__header {
            font-size: 28px;
            line-height: 28px;
        }
        &__subheader {
            font-size: 16px;
            line-height: 16px;
        }
        &__icons {
            margin-top: 50px;
            width: 425px;
            display: flex;
            justify-content: space-between;
        }
        &__icon {
            width: 100px;
            text-align: center;
            font-weight: 600;
            font-size: 10px;
            color: #fff;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        .button_main {
            margin-top: 50px;
            width: 250px;
            height: 40px;
            font-size: 12px;
        }
        &__link {
            margin-top: 14px;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            a {
                color: #fff;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
    }
    .title {
        font-size: 20px;
    }
    .advantages {
        min-height: 400px;
        padding: 60px 0 70px 0;
        &__icon {
            margin-top: 60px;
            width: 60px;
            height: 60px;
        }
        &__title {
            margin-top: 20px;
            font-size: 14px;
        }
        &__text {
            margin-top: 15px;
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 400px;
        padding: 60px 0 52px 0;
        .title {
            font-size: 20px;
        }
        &__descr {
            font-size: 14px;
        }
        label.error {
            font-size: 10px;
        }
        .feed-form {
            margin-top: 25px;
            input {
                height: 30px;
                margin-bottom: 10px;
                padding: 0 10px;
                font-size: 12px;
                &:last-of-type {
                    margin-bottom: 15px;
                }   
            }
            .button_submit {
                height: 40px;
                font-size: 12px;
            }
        }
    }
    .carousel {
        padding: 70px;
        &__inner {
            width: 500px;
        }
        .slick-dots {
            list-style: none;
            display: flex;
            justify-content: center;
            li {
                margin-right: 25px;
                &:last-of-type {
                    margin-right: 0;
                }
                button {
                    height: 15px;
                    width: 15px;
                    border: none;
                    border-radius: 100%;
                    background-color: #b0b0b0;
                    font-size: 0;
                    transition: .5s all ease;
                    &:hover {
                        box-shadow: 3px 3px 20px #b0b0b0;
                    }
                }
            }
            .slick-active button {
                background-color: $main-color;
                &:hover {
                    box-shadow: 3px 3px 20px $main-color;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 70px;
        &__tab {
            width: 150px;
            height: 30px;
            font-size: 12px;
        }
        &__content {
            justify-content: center;
        }
        &-item {
            margin-right: 40px;
            width: 250px;
            min-height: 300px;
            padding: 15px 15px 22px 15px;
            margin-bottom: 15px;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
            &__img {
                height: 150px;
            }
            &__subtitle {
                margin-top: 15px;
                font-size: 14px;
            }
            &__descr {
                margin-top: 14px;
                font-size: 12px;
            }
            &__link {
                margin-top: 15px;
                font-size: 12px;
            }
            hr {
                margin-top: 5px;
                margin-bottom: 10px;
            }
            &__old-price {
                font-size: 12px;
            }
            &__price {
                font-size: 16px;
            }
            .button_mini {
                width: 100px;
                height: 30px;
                font-size: 12px;
            }
            &__list {
                padding-left: 15px;
                li {
                    font-size: 12px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .reviews {
        padding-bottom: 65px;
        &__items {
            margin-top: 50px;
        }
        &-item {
            &__img {
                margin-right: 30px;
                width: 100px;
                height: 100px;
            }
            &__name {
                font-size: 14px;
                line-height: 14px;
            }
            &__sub {
                margin-top: 4px;
                font-size: 12px;
            }
            &__descr {
                margin-top: 10px;
                font-size: 14px;
                line-height: 1.3;
            }
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 150px;
            padding: 20px 35px 30px 35px;
        }
        &__addr {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 14px;
        }
        &__phone {
            margin-bottom: 20px;
        }
        &__social-item {
            width: 30px;
            height: 30px;
            img {
                height: 15px;
            }
        }
    }
}
@media (max-width: 767px){
    .container {
        max-width:none;
        padding: 0;
    }
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            font-size: 8px;
            span {
                font-size: 11px;
            }
        }
        &__phone {
            font-size: 12px;
        }
        .button {
            height: 25px;
            font-size: 10px;
        }
    }
    .promo {
        min-height: 460px;
        padding: 25px 15px 60px 15px;
        &__wrapper {
            align-items: center;
            margin-top: 50px;
        }
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 16px;
            line-height: 16px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .advantages {
        min-height: 880px;
        padding: 60px 0;
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 75%;
        }
        &__icon {
            width: 70px;
            height: 70px;
        }
        &__title {
            font-size: 18px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            font-size: 20px;
        }
        &__descr {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 30px;
        }
    }
    .carousel {
        padding: 60px 0 60px 0;
        margin: 0 auto;
        &__inner {
            width: 450px;
        }
    }
    .catalog {
        &-item {
            margin-right: 25px;
        }
    }
    .reviews {
        padding-left: 15px;
        padding-right: 15px;
        &-item {
            img {
                margin-right: 20px;
                width: 80px;
                height: 80px;
            }
        }
    }
}
@media (max-width: 575px){
    .header {
        flex-direction: column;
        &__logo {
            width: 220px;
        }
        &__official {
            margin-top: 20px;
            font-size: 14px;
            span {
                font-size: 18px;
            }
        }
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
        &__phone {
            font-size: 20px;
            text-decoration: underline;
        }
        .button {
            margin-top: 10px;
            width: 200px;
            height: 40px;
            font-size: 14px;
        }
    }
    .promo {
        min-height: 500px;
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }
        &__icons {
            margin-top: 50px;
            width: 300px;
            display: flex;
            justify-content: space-between;
        }
    }
    .carousel {
        padding: 60px 0 30px 0;
        margin: 0 auto;
        &__inner {
            width: 270px;
        }
        .slick-dots {
            padding-left: 0;
        }
    }
    .catalog {
        padding: 0 0 60px 0;
        &__tabs {
            margin-top: 30px;
            flex-direction: column;
        }
        &__tab {
            margin-top: 10px;
            transform: skewX(0);
            width: 250px;
            height: 40px;
            font-size: 16px;
            &:nth-of-type(1) {
                margin-top: 0;
            }
            div {
                transform: skewX(0);
            }
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &-item {
            margin-right: 0;
            &__img {
                height: 200px;
            }
            &__subtitle {
                margin-top: 15px;
                font-size: 16px;
            }
            &__descr {
                margin-top: 14px;
                font-size: 14px;
            }
            &__link {
                margin-top: 15px;
                font-size: 14px;
            }
            hr {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            &__old-price {
                font-size: 14px;
            }
            &__price {
                font-size: 18px;
            }
            .button_mini {
                width: 110px;
                height: 40px;
                font-size: 14px;
            }
            &__list {
                padding-left: 15px;
                li {
                    font-size: 14px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .reviews {
        &-item {
            &__name {
                font-size: 16px;
            }
            &__sub {
                font-size: 14px;
            }
        }
    }
    .footer {
        .map-responsive {
            display: none;
        }
        &__info {
            width: 100%;
            padding: 20px 25px 20px 25px;
        }
        &__addr {
            font-size: 16px;
        }
        &__phone {
            font-size: 22px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 24px;
            }
        }
    }
    .modal {
        width: 300px;
        padding: 35px 15px 20px 15px;
        &__close {
            top: 10px;
            right: 10px;
        }
        &__subtitle {
            font-size: 16px;
        }
        label.error {
            margin-bottom: 15px;
            font-size: 11px;
        }
        .feed-form {
            width: 100%;
            input {
                height: 40px;
                margin-bottom: 15px;
            }
        }
    }
}
@media screen and (max-width: 575px) and (orientation: landscape) {
    .modal {
        min-height: 300px;
        width: 500px;
        padding: 5px 15px 5px 15px;
        label.error {
            margin-bottom: 5px;
        }
        .feed-form {
            margin-top: 15px;
            input {
                height: 38px;
                margin-bottom: 10px;
            }
        }
        .button_submit {
            height: 40px;
        }
    }
}