.advantages {
    min-height: 470px;
    padding: 65px 0 75px 0;
    background-color: #f6f6f6;
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__item {
        width: 230px;
        text-align: center;
    }
    &__icon {
        margin-top: 75px;
        width: 75px;
        height: 75px;
    }
    &__icon_animated {
        animation: heartbeat 1.5s ease infinite paused;
        &:hover {
            animation-play-state: running;
        }
    }
    &__title {
        margin-top: 40px;
        font-weight: 600;
        font-size: 18px;
        display: block;
    }
    &__text {
        margin-top: 25px;
        font-weight: 400;
        font-size: 14px;
    }
    &__link {
        color: $main-color;
        text-transform: uppercase;
        text-decoration: underline;
        &:hover {
            color: $main-color;
        }
    }
}