.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/cons-bg.jpg) center (center/cover) no-repeat;
    &__descr {
        color: #fff;
        font-weight: 600;
        font-size: 20px;
    }
}