.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/header-bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 600;
        font-size: 42px;
        line-height: 42px;
        color: #fff;
        text-transform: uppercase;
    }
    &__subheader {
        margin-top: 17px;
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 114px;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        margin-top: 18px;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        a {
            color: #fff;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}