.title {
    font-weight: 600;
    font-size: 30px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #fff;
        font-size: 36px;
        text-align: left;
    }
}